.idea/
.vscode/
venv/

*.pyc
_py_cache__/
__py_cache__/
.git/

src/

.env
.cache/
.coverage

**/*.key
**/*.crt

*.iml
.DS_Store

.direnv/
.envrc
.pytest_cache

*.swp

.pytest_cache/

staticfiles/
node_modules/

tests/test-application/copilot

