.idea/
.vscode/
venv/

*.pyc
_py_cache__/
__py_cache__/
.git/

.env
.cache/
.coverage

**/*.key
**/*.crt

*.iml
.DS_Store

.direnv/
.envrc
.pytest_cache
.tox/

*.swp

.pytest_cache/

staticfiles/
node_modules/

tests/platform_helper/test-application-deploy/copilot

dist

.platform-helper-config.yml
