repos:
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        name: Format code
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: mixed-line-ending
        name: Replace line endings
      - id: detect-private-key
        name: Detect private keys
  - repo: https://github.com/myint/autoflake.git
    rev: v2.2.0
    hooks:
      - id: autoflake
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variable"
          ]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--force-single-line-imports, --profile, black]
  - repo: https://github.com/myint/docformatter.git
    rev: v1.7.7
    hooks:
      - id: docformatter
        args:
          [
            "--in-place",
            "--wrap-summaries=80",
            "--wrap-descriptions=80",
            "--pre-summary-newline"
          ]
  - repo: https://github.com/ikamensh/flynt/
    rev: "1.0.0"
    hooks:
      - id: flynt
  - repo: local
    hooks:
      - id: docs
        name: Generate command docs
        entry: poetry run ./utils/create_command_docs.py --module=platform_helper --cmd=platform_helper --output=./dbt_platform_helper/COMMANDS.md
        language: system
        pass_filenames: false
        always_run: true
  - repo: local
    hooks:
      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'trufflehog filesystem . --no-update --no-verification --fail --exclude-paths=.trufflehogignore'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: local
    hooks:
      - id: terraform-fmt
        name: Terraform fmt
        description: Format the terraform code
        entry: |
          bash -c 'terraform fmt --recursive --check terraform &> /dev/null
          if [ $? -eq 0 ]
          then
            echo "Terraform formatting OK"
          else
            terraform fmt --recursive terraform; exit 1
          fi'
        language: system
        stages: ["pre-commit", "pre-push"]
  - repo: https://github.com/uktrade/github-standards
    rev: v1.3.0 # This should be the latest github released tag, see https://github.com/uktrade/github-standards/releases for the latest tag
    hooks:
      - id: validate-security-scan
        verbose: false # This is helpful for debugging initial setup, it can be removed when the hooks are verified as working in your repository
        args: [-v] # This is helpful for debugging the hook logic, the output is shown in the git output
      - id: run-security-scan
        verbose: false
        args: [--verbose]
