name: Unit tests

on: [push]

jobs:
  tests:
    name: Test against Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        # If the matrix, you must also update after_n_builds in codecov.yml to match the number of times the test suite is run
        python-version: ["3.12", "3.11", "3.10", "3.9"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Display Python version
        run: python --version

      - name: Install dependencies
        run: |
          pip install poetry
          poetry install

      - name: Run pytest
        run: poetry run pytest --cov --cov-report=xml --junitxml=junit.xml -o junit_family=legacy
        env:
          PYTHON_VERSION: ${{ matrix.python-version }}

      - name: Upload test results to Codecov
        uses: codecov/test-results-action@v1
        if: ${{ !cancelled() }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
